<section id="content">
    <!--logo placement-->

    <!--main container-->
    <main id= "main">
    
       
    </div>
    </main>

    <!--footer-->
    <footer id="footer">
        <p>&copy; 2020 ilm.com
        </p>
    </footer>
</section>